h1{
    color: black;
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
}


.fondo{

  max-width: 100% ;
  height: auto;
}

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
  }

  .menu li {
    float: left;
  }

  .menu li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu li a:hover {
    background-color: #ddd;
  }

  .texto {
    color: white;
    justify-content: center;
    align-items: center; /* Establece el color del texto en rojo */
  }

  .container h1,
  .container img {
    display: inline-block;
    vertical-align: middle;
  }

  .container img {
    margin-right: 10px;
  }

  .tablas {
    display: inline-block;
    margin-right: 10px; /
  }

  .registro{
    color: white;
  }

  body {
    background-color: #ffdd90;
    background-image: url("fondoInicio.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }